@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	font-size: 12px;
	font-family: Arial;
}
/**login**/
.login_body {
	background: transparent;
	background: url(../images/login.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.login_div {
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	color: black;
	margin-top: -250px;
	margin-left: -250px;
	position: fixed;
	border-radius: 10px;
	z-index: 9999;
	background: #FFFFFF;
	opacity: 0.7;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.login_div .login_title {
	text-align: center;
	font-size: 35px;
	margin-top: 30px;
	letter-spacing: 5px;
	font-weight: bold;
}

.login_nav {
	margin-top: 140px;
}

.login_btn1_div {
	text-align: center;
	margin-top: 25px;
	padding-left: 50px;
}

.login_btn2_div {
	text-align: center;
	margin-top: 25px;
	padding-left: 50px;
}

.login_btn3_div {
	text-align: center;
	margin-top: 25px;
	padding-left: 50px;
}

.login_btn4_div {
	text-align: center;
	margin-top: 25px;
	padding-left: 50px;
}

.login_btn5_div {
	text-align: center;
	margin-top: 25px;
	padding-left: 50px;
}

#login {
	outline: 0px;
	border: 0px;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	color: gray;
	font-weight: bold;
	font-size: 15px;
}

.barter_btnDiv {
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}

.barter_btn {
	border: 0px;
	background: transparent;
	outline: 0px;
}
.sub_btn:hover {
	background: #31B0D5;
}